//base
@import "base/color";
@import "base/var";
@import "base/font";


// components
@import "components/btn";
@import "components/input";
@import "components/pagination";
@import "components/table";
@import "components/front_donate_subfooter";
@import "components/front_donate_flow";
@import "components/front_aboutusMain";
@import "components/modalheader.scss";
@import "components/front_donate_success.scss";
@import "components/front_donate_fail.scss";



// layout
@import "layout/frontheader";
@import "layout/footer"; //前後台共用
@import "layout/backheader";
@import "layout/backaside";
@import "layout/modal_warning.scss";
@import "layout/modal_category.scss";
@import "layout/modal_content.scss";
@import "layout/modal_quiz.scss";
@import "layout/backfooter.scss";


// pages 前台
@import "pages/home.scss";
@import "pages/fakenews.scss";
@import "pages/game.scss";
@import "pages/game_fakenews.scss";
@import "pages/medialiteracy.scss";
@import "pages/donate.scss";
@import "pages/donate_basicinformation.scss";
@import "pages/donate_finish.scss";
@import "pages/donate_unfinish.scss";
@import "pages/donate_faq.scss";
@import "pages/donate_log.scss";
@import "pages/donate_record_result.scss";
@import "pages/donate_privacypolicy";
@import "pages/aboutus.scss";


// pages 後台
@import "pages/back_login.scss";
@import "pages/back_account.scss";
@import "pages/back_password.scss";
@import "pages/back_mediaNetwork.scss";
@import "pages/back_mediaClass.scss";
@import "pages/back_fakeNews.scss";
@import "pages/back_donateFAQ.scss";
@import "pages/back_donateManage.scss";
@import "pages/back_donate_basicinformation_02";