// 主視覺 color--------------------------
$primary-y: #F3CA1E; //小黃、card-border、btn-hover
$primary-b: #50589D; //小紺、btn
$secondary-y1: #F7DD6D; //nav
$secondary-y2: #FEFCF0; //card-inside
$secondary-b1: #4961AB;
$secondary-b2: #5D92CD; //小天
$secondary-b3: #B7C0DB;
$secondary-b4: #BED2E7;
$neutral-light: #484848; //黑黑
$neutral-dark: #353239; //footer、後台 nav、 form 表頭

// 彩虹 color--------------------------
$red: #B04B32;
$orange: #D18A32;
$yellow: #D8B246;
$green: #2B5F42;
$blue: #92B5D2;
$indigo: #50589D; //主視覺藍、小紺
$purple: #926D98;

// 吉祥物 color-------------------
$mascot-skin: #F6E6D0;
$mascot-yellow: #F3CA1E; //小黃
$mascot-indigo: #50589D; //小紺
$mascot-blue: #5D92CD; //小天
$mascot-black: #484848; //黑黑

// 灰階 color--------------------------
$white: #ffffff;
$gray-100: #F8F8F8;
$gray-300: #F2F2F2;
$gray-500: #D8D8D8;
$gray-700: #9D9D9D;
$gray-900: #646464;
$black: #000000; //base-font-color