@import "../base/color";
@import "../base/font";


.backpasswordMain {
  width: 100%;

  .header {
    background-color: $secondary-y1;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 34px;
  }

  .body {
    margin-top: 125px;
    margin-bottom: 134px;

    .form {
      border: 1px solid $black;
      width: 480px;
      margin: 0 auto;

      .title {
        font-size: $font-L-20;
        text-align: center;
        height: 64px;
        line-height: 64px;
        background-color: $black;
        color: $white;
      }

      .content {
        padding: 88px;

        .input {
          font-size: $font-M-16;

          .way {
            display: block;
            height: 57px;
          }
        }
      }
    }
  }


}


// 修改按鈕返回登入頁面的樣式

.ToBackLogin {
  color: $black;
}

// 針對radio標籤改樣式
.content .input .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: $font-M-16;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 110px;
}

.container .span {
  font-size: $fontbase-14; //內容文字
  ;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;

  border: 2px solid $black;
  /* 修改預設外框黑色 */
  border-radius: 50%;

}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: $secondary-y1;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: $secondary-y1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 6px;
  width: 4px;
  height: 8px;
  border-bottom: 2px solid $black;
  border-right: 2px solid $black;
  transform: rotate(45deg);
}