.front_aboutusMain {
  .banner {
    width: 100%;

    .img {
      width: 100%;
    }

  }

  .description {
    padding: 100px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 200px;

    // 源起
    .purpose {
      grid-area: 1/1/2/2;
      display: grid;

      .title {
        grid-area: 1/1/2/2;

        width: 96px;
        height: 96px;
        border-bottom: 5px solid $primary-y;

        text-align: center;
        line-height: 96px;
        font-size: 32px;
        font-weight: bold;

        margin: auto;
      }

      .text {
        grid-area: 1/2/2/3;
        margin-left: 100px;


        .subtitle {
          font-size: $font-L-20;
          font-weight: bold;
          margin-bottom: 40px;
        }

        .para {
          font-size: $fontbase-14;
        }
      }
    }

    // 行動
    .action {
      grid-area: 2/1/3/2;
      display: grid;

      .title {
        grid-area: 1/1/2/2;

        width: 96px;
        height: 96px;
        border-bottom: 5px solid $primary-y;

        text-align: center;
        line-height: 96px;
        font-size: 32px;
        font-weight: bold;

        margin: auto;
      }

      .text {
        grid-area: 1/2/2/3;
        margin-left: 100px;


        .subtitle {
          font-size: $font-L-20;
          font-weight: bold;
          margin-bottom: 40px;
        }

        .para {
          font-size: $fontbase-14;
        }
      }
    }

    // 成員介紹
    .member {
      grid-area: 3/1/4/2;
      display: grid;
      gap: 100px;

      .title {
        font-size: 28px;
        text-align: center;
        font-weight: bold;
      }

      .memberCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 327px;

        // 個人的顏色區塊
        .colorOne {
          color: #B04B32;

          .item {
            border: 3px solid #B04B32;
          }
        }

        .colorTwo {
          color: #D18A32;

          .item {
            border: 3px solid #D18A32;
          }
        }

        .colorthree {
          color: #D8B246;

          .item {
            border: 3px solid #D8B246;

          }
        }

        .colorFour {
          color: #50589D;

          .item {
            border: 3px solid #50589D;
          }
        }


        .leftBox {
          width: 398px;

          .person {

            .name {
              font-size: 40px;
              font-weight: bold;

              .img {
                grid-area: 1/2/2/3;
                height: 40px;

              }

            }

            .motto {
              font-size: $font-L-20 ;
            }
          }

          .task {
            margin-top: 48px;
            font-size: $font-M-16;
            line-height: 32px;
          }
        }

        .rightBox {
          position: relative;
          z-index: 1;


          .tasks {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 20px;

            .item {
              border-radius: 32px;
              width: 48px;
              font-size: $font-L-20;
              font-weight: bold;
              padding: 8px 12px;
              margin: 0 6px;

            }

          }

          .memberImg {
            border-radius: 32px;
            overflow: hidden;
            background: rgba(#D18A32, 0.2);
            height: 196px;
            width: 100%;
            // 調整圖片位置往上,達到重疊效果
            position: absolute;
            bottom: 3px;
            z-index: -1;
            display: flex;
            justify-content: center;


            .img {
              height: 196px;
              opacity: 0.8;

            }

          }

        }

      }

    }

  }

}


@media screen and (max-width: 992px) {
  .front_aboutusMain {
    .banner {
      width: 100%;

      .img {
        width: 100%;
      }

    }

    .description {
      // 
      width: 90%;
      padding: 80px 0;
      gap: 100px;


    }

  }
}


@media screen and (max-width:768px) {
  .front_aboutusMain {
    width: 100%;

    .description {
      gap: 40px;

      .purpose {
        display: grid;
        max-width: 85%;
        margin: 0 auto;

        .title {
          grid-area: 1/1/2/2;
          width: 72px;
          height: 72px;
          font-size: 32px;
          line-height: 72px;

        }

        .text {
          grid-area: 2/1/3/2;
          margin: 20px 0px;
          max-width: 480px;

          .subtitle {
            font-size: $font-L-20;
            margin-bottom: 20px;
          }

          .para {
            font-size: $fontbase-14;
          }
        }
      }

      // 行動
      .action {
        display: grid;
        max-width: 85%;
        margin: 0 auto;

        .title {
          grid-area: 1/1/2/2;
          width: 72px;
          height: 72px;
          font-size: 32px;
          line-height: 72px;
        }

        .text {
          grid-area: 2/1/3/2;
          margin: 20px 0px;
          max-width: 480px;

          .subtitle {
            font-size: $font-L-20;
            margin-bottom: 20px;
          }

          .para {
            font-size: $fontbase-14;
          }
        }
      }

      // 成員介紹
      .member {
        gap: 40px;

        .title {
          font-size: 28px;
          text-align: center;
        }

        .memberCard {
          height: 600px;
          margin: 10px 0;

          width: 315px;
          flex-direction: column;
          margin: 0 auto;

          .leftBox {

            width: 315px;


            .person {


              .name {
                font-size: 32px;

                .img {

                  height: 36px;
                  width: 36px;

                  grid-area: 1/2/2/3;

                }

              }

              .motto {
                margin-bottom: 10px;
                font-size: $font-M-16 ;

              }
            }

            .task {
              font-size: $fontbase-14;
              line-height: 24PX;
              margin-top: 40px;

            }
          }

          .rightBox {

            height: 330px;

            .tasks {
              justify-content: space-evenly;
            }
          }

        }

      }

    }

  }

}