@import "../base/color";
@import "../base/font";

.front_donate_subfooter {
  border-top: 3px solid $black;
  padding: 50px 54px;
  display: grid;
  grid-template-areas: 'linkSeciton descSection';
  grid-gap: 50px;

  .linkSeciton {
    width: 120px;
    height: 184px;
    font-size: $font-M-16;


    .para {
      display: inline-block;
      margin-bottom: 8px;
      color: $black;

    }
  }

  .descSection {

    width: auto;
    height: 184px;
    font-size: $fontbase-14 ;
  }
}

@media screen and (max-width: 992px) {

  .front_donate_subfooter {
    border-top: 0px;
    padding: 50px 54px;
    display: grid;
    grid-gap: 0px;

    .linkSeciton {
      grid-area: 2 / 1 / 3 / 2;
      border-top: 3px solid $black;
      padding-top: 32px;
      width: auto;
      height: auto;
      // font-size: $font-M-16;
      font-size: 16px;
      text-align: center;

      pa .para {
        display: inline-block;
        margin-bottom: 8px;

      }
    }

    .descSection {
      width: auto;
      height: auto;
      font-size: $fontbase-14 ;
      grid-area: 1 / 1 / 2 / 2;
      padding-bottom: 40px;
    }
  }
}