.wrap {
  overflow: hidden;




  table {
    border-collapse: collapse;



    th {
      background-color: $black;
      color: $white;
      width: 25vw;
      height: 64px;
      text-align: center;

      &:nth-child(5),
      &:nth-child(6) {
        color: $black;
      }


    }

    td {
      background-color: $white;
      width: 25vw;
      height: 64px;
      text-align: center;

      div.block {
        width: 100%;
        max-width: 25vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      div.edit,
      div.delete {
        cursor: pointer;
        padding: 15px 0;

      }

    }

    tr {
      border-bottom: 1px solid $gray-700;


      &:nth-of-type(odd) td {
        background-color: $gray-300;
      }

      &:hover td {
        background-color: $secondary-y1;
      }


    }
  }
}


ul {
  list-style: none;
  padding-left: 0;
  max-width: 1028px;



  li {
    display: flex;
    justify-content: space-between;
    height: 64px;
    max-width: 1028px;


    /* 奇數行的背景色和鼠標懸停效果 */
    &:nth-of-type(odd) {
      background-color: $gray-300;
    }

    &:nth-of-type(even) {
      background-color: $white;
    }

    &:hover {
      background-color: $secondary-y1;
    }

    &.thead {
      background-color: $black;
      color: $white;
    }

    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-bottom: 1px solid $neutral-light;


      /* 設置每個欄位的寬度 */
      &.thNumber {
        width: 50px;
      }

      &.thEdit,
      &.thDelet {
        width: 50px;
        cursor: pointer;
      }

      &.thDate {
        width: 120px;
      }

      &.thTitle {
        width: 200px;
      }

      &.thContent {
        width: 528px;

      }

      .tableP {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        background-color: transparent;
      }

    }


  }

}