@import "../base/color";
@import "../base/font";

.ClassTable {
  .thead {
    width: 1028px;
    height: 64px;
    background-color: $black;
    color: $white;

    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
    /* 列數和寬度 */
    grid-gap: 8px;
    /* 網格間距 */

    .thItem {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tobdyContainer {
    width: 1028px;


    .itemList {

      margin: 0;
      list-style: none;
      padding: 0;

      .itemRow {

        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
        /* 列數和寬度 */
        grid-gap: 8px;

        &:nth-of-type(odd) {
          background-color: $gray-300;
        }

        &:nth-of-type(even) {
          background-color: $white;
        }

        &:hover {
          background-color: $secondary-y1;
        }

        /* 網格間距 */
        .tbItem {

          overflow: hidden;
          white-space: nowrap;
          display: flex;
          justify-content: center;


          .tableP {
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0;
            background-color: transparent;
          }
        }
      }


    }
  }
}

.modalContent {
  align-items: self-start;

  .wrap {

    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;

    .image_box_file {

      button {
        border: none;
        width: 160px;
        height: 44px;
        background-color: $primary-b;
        border-radius: 32px;
        color: $white;
        margin-left: -20px;
        position: relative;


        #input_box_textarea {
          width: 160px;
          height: 44px;
          border: 1px solid red;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          border-radius: 32px;

          // span.image_text {
          //   // align-self: center;
          //   width: 160px;
          //   height: 44px;
          // }
        }
      }
    }

    .button_add_window {
      margin-right: -10px;
    }
  }
}