.back_accountMain {
  min-width: 1472px;


  .backheaderAcount {
    line-height: 80px;
    padding-left: 34px;
    font-size: $font-M-16;
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;

    .section {
      // border: 3px solid rebeccapurple;
      padding: 40px 0px 94px 0px;
      width: 720px;
      font-size: $font-M-16;

      // 左邊的表格樣式
      .leftForm {
        width: 900px;

        // 統一input格式
        .unified_input {
          width: 400px;
          height: 54px;
          padding-left: 20px;
        }

        .label {
          // border: 1px solid goldenrod;
          width: 200px;
          height: 54px;
          text-align: center;

        }

        #changePassword_btn {
          cursor: pointer;
        }

        .hidden {
          color: transparent;
        }

      }

      // 左邊的忘記密碼跟儲存變更
      .submitBox {
        width: 600px;
        display: flex;
        text-align: center;
        height: 44px;
        line-height: 44px;
        align-items: center;
        font-size: $fontbase-14;
        justify-content: end;

        &:hover {
          cursor: pointer;
        }

        .forgetPWD {
          width: 160px;
          margin-right: 136px;

          .link {
            color: $indigo;

            &:hover {
              color: $indigo;
            }
          }
        }

        .btn {
          color: $white;
          font-size: $fontbase-14;
          width: 160px;
          display: block;
          height: 44px;
          line-height: 44px;
          padding: 0;

          &:hover {
            color: $black;
          }

        }
      }
    }

    // 右邊的表格格式
    .table2 {

      width: 636px;
      height: 64px;
      border-collapse: collapse;

      .thead {
        background-color: $black;
        border: 2px solid $black;
        color: $white;
        font-size: $font-M-16;
        height: 64px;
        text-align: center;
      }

      .tbody {
        border: 2px solid $gray-700;
        border-top: 0;

        .tr {
          &:nth-child(n) {
            background-color: $gray-300;
            ;
          }

          &:nth-child(2n) {
            background-color: $gray-700;
          }
        }

        .td {
          text-align: center;
          height: 64px;
        }
      }

      // 設定td的不同寬度
      .w100 {
        width: 100px;
      }

      .w200 {
        width: 200px;
      }

    }

    // 右邊的按鈕設定
    .btnBox {
      margin-top: 24px;
      width: 636px;
      display: flex;
      justify-content: end;

      .btn {
        color: $white;
        font-size: $fontbase-14;
        width: 160px;
        display: block;
        height: 44px;
        line-height: 44px;
        padding: 0;
        margin-left: 4px;

        &:hover {
          color: $black;
        }

      }
    }
  }
}