@import "../base/color";
@import "../base/font";



.add_list {
  margin: 0 auto 30px auto;


  button {
    width: 160px;
    height: 40px;
    border-radius: 32px;
    background-color: $primary-b;
    color: $white;
    border: none;

    &:hover {
      background-color: #F3CA1E;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
      color: $black;
    }
  }
}

.all_box {

  margin-bottom: 200px;

  .nav {
    width: 1028px;
    height: 64px;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    color: #fff;
    margin: auto;
    font-size: 16px;
    padding: 5px;




    .number {
      // margin: 0 auto;
      display: flex;
      align-self: center;
      justify-content: center;
      // border: 1px solid red;
    }

    .title_left {
      // margin: 0 auto;
      display: flex;
      align-self: center;
      justify-content: center;
      // border: 1px solid red;
    }

    .result_left {
      // margin: 0 auto;
      display: flex;
      align-self: center;
      justify-content: center;
      // border: 1px solid red;
    }

    .answer_left {
      // margin: 0 auto;
      display: flex;
      align-self: center;
      justify-content: center;
      // border: 1px solid red;
      // text-align: center;
    }

    .date {
      // margin: 0 auto;
      display: flex;
      align-self: center;
      // border: 1px solid red;
    }
  }

  .container_fake {
    // position: absolute;
    width: 1028px;
    // border: 1px solid red;
    margin: 0 auto;

    .taskList {
      padding: 0;
      margin: 0;
      list-style: none;

      .box_list {
        width: 100%;
        height: 64px;
        background-color: antiquewhite;
        display: grid;
        grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        // grid-auto-flow: column;
        background-color: #fff;
        color: black;
        margin: auto;
        font-size: 16px;
        padding: 5px;
        margin-right: 10px;

        &.remove {
          display: none;
        }



        .lists {
          text-align: center;
          display: flex;
          align-items: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 10px;
          justify-content: center;



          button {
            border: none;
            background-color: transparent;
          }
        }
      }
    }


  }
}

.add_window {
  display: none;
  background: rgba(0, 0, 0, 0.3);

  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  &.-on {
    display: block;

  }

  .inside_box {
    // max-width: 1030px;
    // display: flex;
    width: 1000px;
    background-color: #FEFCF0;
    margin: 0 auto;

    .header_window {
      background-color: $black;
      color: $white;
      height: 45px;
      display: flex;
      align-items: center;
      // justify-content: center;
      font-size: $font-L-20;

      .close_text {
        margin-left: 20px;
      }

      .close_button {
        margin-left: auto;
        margin-right: 20px;
      }
    }

    .content_window {
      max-height: 100vh;
      /* 設置最大的高度，超過內容將顯示卷軸 */
      overflow-y: auto;
      /* 當内容超過最大高度時顯示垂直卷轴 */

      padding: 60px;


      .input_box {
        border: 2px solid #50589D;
        border-radius: 32px;
        margin-left: 20px;
        padding-left: 20px;
      }



      .input_box_textarea {
        border: 2px solid #50589D;
        border-radius: 32px;
        margin-left: 10px;
        width: 500px;
        height: 100px;
        // 圓角不會吃掉文字
        padding-left: 20px;
      }


      .input_number {
        // border: 1px solid red;
        display: flex;
        margin-bottom: 20px;


        p {
          // margin-right: 10px;
          width: 80px;
        }
      }

      .input_title_left {
        display: flex;
        margin-bottom: 20px;


        p {
          // margin-right: 10px;
          width: 80px;
        }
      }

      .input_result_left {
        display: flex;
        margin-bottom: 20px;

        p {
          // margin-right: 10px;
          width: 80px;
        }
      }

      .input_answer_left {
        display: flex;
        margin-bottom: 20px;

        p {
          // margin-right: 10px;
          width: 80px;
        }
      }

      .input_date {
        display: flex;
        margin-bottom: 20px;

        p {
          width: 80px;
        }
      }

      .button_add_window {
        display: flex;
        justify-content: end;

        button {
          width: 160px;
          height: 40px;
          border-radius: 32px;
          background-color: $primary-b;
          color: $white;
          border: none;

          &:hover {
            background-color: #F3CA1E;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
            color: $black;
          }
        }
      }
    }
  }
}

// 刪除淡出特效
// .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.delete_box_outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;


  .delete_box {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      margin-top: 40px;
      padding: 0;
      background-color: #FEFCF0;

      li {
        list-style-type: none;
        text-align: center;
        margin: 30px;

        .button {
          display: flex;

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 44px;
            margin-right: 8px;
            color: #ffffff;
          }
        }
      }
    }
  }
}