.backpasswordMain {
  width: 100%;

  .header {
    background-color: $secondary-y1;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 34px;
  }

  .body {
    margin-top: 125px;
    margin-bottom: 134px;

    .form {
      border: 1px solid $black;
      width: 480px;
      margin: 0 auto;

      .title {
        font-size: $font-L-20;
        text-align: center;
        height: 64px;
        line-height: 64px;
        background-color: $black;
        color: $white;
      }

      .contentBox {
        padding: 88px;

        .input {
          font-size: $fontbase-14;
        }

        .local {
          height: 50px;
          padding-left: 34px;

        }
      }
    }
  }


}


// 針對radio標籤改樣式
.contentBox .input .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: $font-M-16;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 57px;

  // border: 1px solid gold;
  .span {
    font-size: $font-M-16; //內容文字
  }

  // 將預設的radio隱藏起來
  .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    // check時黃色
    &:checked~.checkmark {
      background-color: $secondary-y1;
    }

    // check時勾勾出現
    &:checked~.checkmark:after {
      display: block;
    }


  }


}

// 想要的按鈕
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;

  border: 2px solid $black;
  /* 修改預設外框黑色 */
  border-radius: 50%;

  // check時放勾勾
  &:after {
    content: "";
    position: absolute;
    display: none;
  }

  // check時勾勾出現
  &:after {
    top: 3px;
    left: 6px;
    width: 4px;
    height: 8px;
    border-bottom: 2px solid $black;
    border-right: 2px solid $black;
    transform: rotate(45deg);
  }
}