@import "../base/color";
@import "../base/font";

.back_container {
  display: flex;
  position: relative;
  max-width: 1200px;

  main {
    margin: 46px 87px;
    max-width: 1180px;

    .modalWarning {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
      justify-content: center;
      align-items: center;


      &.-on {
        display: flex;

      }
    }

    .title {
      height: 55px;
      background-color: $black;
      color: $white;
      display: flex;
      border-radius: 32px;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      max-width: 1028px;
    }

    .button {
      display: flex;
      margin-bottom: 30px;

      .btn {
        @extend .btn;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 44px;
        margin-right: 8px;
        color: $white;

        &:hover {
          color: $black;

        }


      }
    }


    .unified_pagination {
      margin-top: 0;

    }


  }
}