@import "../base/color";
@import "../base/font";

.back_accountMain {
  // border: 1px solid red;
  min-width: 1200px;


  .backheader {
    display: flex;
    // border: 1px solid green;
    align-items: center;
    min-width: 1200px;


    .svg_block {
      // border: 1px solid blue;
      margin: 20px
    }
  }

  .all_block {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 0 70px;
    // border: 1px solid green;


    // -on隱藏左邊預設欄位
    .left_block.-on {
      display: none;
    }

    .left_block.edit {
      display: none;
    }

    .left_block.edit.-on {
      display: block;
    }

    // 左邊欄位
    .left_block {
      display: flex;
      flex-direction: column;
      // border: 1px solid violet;
      margin: 60px 0;
      width: 600px;

      div {
        // border: 1px solid blue;
        margin: 0 0 30px 0;
        display: flex;
        justify-content: space-between;

        label {
          width: 120px;
          min-width: 120px;
          // border: 1px solid green;
          margin: 0 0px 0 0;
          display: flex;
          align-self: center;
        }

        input {
          display: flex;
          width: 400px;
          height: 54px;
          padding-left: 20px;
        }
      }

      // 更改密碼區域
      .passWord_block {
        // border: 1px solid red;
        margin: 0 0 0px 0;
        display: flex;

        .passWord_inner_block {
          width: 120px;
          min-width: 120px;
          display: block;
          // border: 1px solid green;
          margin: 0 0px 0 0;

          &:hover {
            cursor: pointer;
            color: $indigo;
            font-weight: bold;
          }

          &.-on img {
            transform: rotate(270deg);
          }

          p {
            display: inline-flex;
            // border: 1px solid red;
          }

          img {
            display: inline-flex;
            // border: 1px solid red;
            width: 14px;
            transform: rotate(90deg);
            margin: 0;

          }
        }



        .input_block {
          width: 400px;
          display: flex;
          flex-direction: column;

          input {
            margin: 0 0 30px 0;
            display: none;

            &.-on {
              display: block;
            }
          }

          // 忘記密碼儲存變更
          .final_block {
            display: flex;
            margin: 0;

            .forgetPassword {
              display: flex;
              align-items: center;

              .link {
                color: $indigo;

                &:hover {
                  font-weight: bold;
                }
              }
            }

            .submitBox {
              button {
                color: white;
                width: 160px;
                display: block;
              }

              .btn {
                display: none;

              }

              .btn.-on {
                display: block;
              }
            }
          }
        }
      }



    }

    .right_block {
      display: flex;
      flex-direction: column;
      // border: 1px solid purple;
      margin: 60px 0;
      // width: 100%;
      // width: 600px;

      table {
        margin: 0 0 24px 0;

        thead {
          tr {
            th {
              color: white;
              background-color: #343137;
              padding: 20px 0;
              min-width: 100px;
              text-align: center;

              p {
                margin: 0px 10px;
              }
            }
          }

        }

        tbody {
          .tr {
            &:nth-child(n):hover {
              background-color: yellow;

            }
          }

          .td {
            padding: 20px 4px;
            text-align: center;
          }

          .w200 {
            width: 200px;
            word-break: bresak-all;
          }

          .td_gray {
            background-color: #F2F2F2;
            padding: 20px 4px;
            text-align: center;


          }
        }
      }

      // 新增儲存變更
      .btnBox {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 12px;

        .btn {

          &:first-child {
            margin-right: 8px;
          }

          &:first-child.-on {
            display: none;
          }

          &:nth-child(2) {
            display: none;
          }

          &:nth-child(2).-on {
            display: block;
            background-color: $indigo;
            color: white;
          }
        }


        button {
          width: 160px;
          color: white;
          display: block;
        }
      }
    }



  }
}