@import "../base/color";
@import "../base/font";

.back_container {
  display: flex;

  main {
    margin: 46px 87px;

    .title {
      // max-width: 1028px;
      height: 55px;
      background-color: $black;
      color: $white;
      display: flex;
      border-radius: 32px;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    .button {
      display: flex;
      margin-bottom: 30px;

      .btn {
        @extend .btn;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 44px;
        margin-right: 8px;
        color: $white;

        &:hover {
          color: $black;

        }

      }
    }


    .unified_pagination {
      margin-top: 0;

    }

  }


}