@import "../base/color";
@import "../base/font";

.donate_record_result {


  // ---------RWD----------
  // --------平板斷點---------
  $tablet_BP : 768px;

  @mixin t() {
    @media all and (max-width : $tablet_BP) {
      @content
    }
  }

  ;



  // --------手機版斷點-------
  $mobile_BP : 576px;

  @mixin m() {
    @media all and (max-width : $mobile_BP) {
      @content
    }
  }

  ;






  h1 {
    color: $primary-y
  }

  p {
    line-height: 1.5;
  }



  // --------------捐款徵信紀錄
  .titleBlock {
    // border: 1px solid red;
    margin: 100px 200px 80px 200px;

    @include t() {
      margin: 100px 100px 80px 100px;
    }

    @include m() {
      margin: 100px 30px 80px 30px;

    }

    .titleText {
      font-size: $title-24;
      // border: 1px solid blue;
      text-align: center;
      margin: 0;
    }

    .titleBlockA {
      margin: 0 0 0px 0;
    }
  }


  // ---------------表單
  ul {
    list-style: none;
    width: 660px;
    margin: 0 auto;
    padding: 0;
    // border: 1px solid red;

    @include t() {
      width: 80%;
    }

    @include m() {
      width: 90%;

    }

    .first_li {
      background-color: #F5DE75;
      display: flex;


      div {
        width: 660px;
        display: flex;
        // border: 1px solid green;
        margin: 0 0px 0 30px;

        @include t() {
          width: 100%;
        }

        @include m() {
          margin: 0 10px 0 10px;
          font-size: 20px;

        }

        p {
          margin: 10px 0 10px 0;
          font-size: 24px;
          width: 24%;
          // border: 1px solid blue;

          @include m() {
            font-size: 20px;
          }
        }

        p:nth-child(2) {
          width: 38%;

        }

        p:last-child {
          width: 38%;
        }
      }
    }

    .white_li {
      display: flex;
      background-color: #fff;

      div {
        width: 660px;
        display: flex;
        // border: 1px solid green;
        margin: 0 0px 0 30px;

        @include t() {
          width: 100%;
        }

        @include m() {
          margin: 0 10px 0 10px;

        }

        p {
          margin: 10px 0 10px 0;
          font-size: 24px;
          width: 24%;
          // border: 1px solid blue;

          @include m() {
            font-size: 20px;
          }
        }

        p:nth-child(2) {
          width: 38%;

        }

        p:last-child {
          width: 38%;
        }
      }
    }

    .gray_li {
      display: flex;
      background-color: #F2F2F2;

      div {
        width: 660px;
        display: flex;
        // border: 1px solid green;
        margin: 0 0px 0 30px;

        @include t() {
          width: 100%;
        }

        @include m() {
          margin: 0 10px 0 10px;

        }

        p {
          margin: 10px 0 10px 0;
          font-size: 24px;
          width: 24%;
          // border: 1px solid blue;

          @include m() {
            font-size: 20px;
          }
        }

        p:nth-child(2) {
          width: 38%;

        }

        p:last-child {
          width: 38%;
        }

      }
    }
  }


  // 換頁按鈕
  .unified_pagination {
    margin: 0 0 100px 0;
  }



}