@import"../base/_font";
@import"../base/_color";

.donate_basicinformation {
  .banner {
    width: 100%;

    img {
      width: 100%;
    }
  }


  .front_donate_flow {
    margin: 40px auto;
  }


  .main_block {
    // border: 1px solid green;
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: center;

    @media(min-width:768px) {
      margin: 0 100px 0 100px;
    }

    @media(min-width:1100px) {
      margin: 0 200px 0 200px;

    }



    .inner_block {
      display: flex;
      flex: 1;
      flex-direction: column;
      // border: 1px solid rgb(196, 3, 115);
      width: 100%;
      height: auto;
      background-color: $secondary-y2 ;
      border: 4px solid $primary-y;
      border-radius: 32px;
      margin: 0 auto;

      // 基本資料填寫深黃匡
      h1 {
        font-size: $title-24;
        background-color: $secondary-y1 ;
        border-radius: 29px 29px 0px 0px;
        margin: 0px 0px 0px 0;
        padding: 15px 0px;
        vertical-align: baseline;
        border-bottom: 4px solid $primary-y;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;

      }

      .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        // border: 1px solid red;
        margin: 40px 40px 0px 40px;

        div {
          p {
            font-size: 20px;
            margin: 0 0 6px 0;
          }

          input {
            width: 100%;
            height: 40px;
            background-color: #EFEFEF;
            border-radius: 4px;
            border: 1px solid black;
            margin: 0 0 10px 0;

          }

          input[type="text"] {
            padding: 0 0px 0 10px;

          }
        }

        // 性別
        .gender-options {
          margin: 0;

          p {
            font-size: 20px;
            // border: 1px solid red;
            margin: 0 0 6px 0;
          }

          label {
            margin: 0 10px 0 0px;
            // border: 1px solid blue;
            display: inline-flex;
            align-items: center;

            .gender {
              width: auto;
              margin: auto 0;

            }
          }

        }
      }




      // 地址
      // 縣市鄉證市區
      .address_block {
        // border: 1px solid red;
        margin: 40px 40px 40px 40px;

        p {
          margin: 0 0 6px 0;
        }

        .PostalCode {
          outline: 0;

          &:hover {
            cursor: not-allowed;
          }

        }


        .drop-down_menu_block {
          display: grid;
          grid-template-columns: 1fr 2fr 2fr;
          margin: 10px 0;
          gap: 10px;
          // border: 1px solid red;

          @media(max-width:620px) {
            grid-template-columns: 1fr;
          }

          // 郵遞區號
          .PostalCode {
            width: 100%;
            height: 40px;
            background-color: #EFEFEF;
            border-radius: 4px;
            border: 1px solid black;
            margin: 0;
            padding: 0 0px 0 10px;

            &::placeholder {
              color: #B4B4B4;
            }

            &:hover {
              cursor: not-allowed;
            }

          }

          .list_block {
            height: 40px;
            background-color: #EFEFEF;
            color: #B4B4B4;
            border-radius: 4px;
            border: 1px solid black;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url('@/assets/images/donate/donate_button.svg');
            background-repeat: no-repeat;
            background-position: right center;
            cursor: pointer;
            outline: none; // 取消默认的外部轮廓
            box-shadow: none; // 取消默认的阴影边框
            font-size: 16px;
            // color: #B4B4B4;
            color: black;
            padding: 0px 0 0 10px;

            @media(max-width:374px) {
              width: 100%;
            }

            &:hover {
              box-shadow: 0px 0px 15px #5D92CD;
              border-radius: 4px;
            }
          }
        }

        // 通訊地址
        .address {
          width: 100%;
          height: 40px;
          background-color: #EFEFEF;
          border-radius: 4px;
          border: 1px solid black;
          margin: 0;
          padding: 0 0px 0 10px;


          &::placeholder {
            color: #B4B4B4;
          }
        }
      }


    }

    // ------收據寄發方式
    .Receipt-options {
      margin: 0px 40px 0px 40px;
      padding: 40px 0 40px 0;
      line-height: 1.5;
      border-top: 3px solid black;

      p {
        margin: 0 0 6px 0;
        font-size: 24px;
      }

      label {
        margin: 0 0 6px 0;
      }

      // 隱私權條款
      .privacyContainer {

        .privacyGuide {
          color: $red;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .privacyText {
          margin-top: 4px;
          border: 2px solid $gray-300;
          margin: 0 auto;
          font-size: 12px;
          width: 80%;
          max-height: 300px;
          overflow-y: scroll;
          display: block;
        }

        .privacyText.-on {
          display: none;
        }
      }
    }

    .your_support_block {
      border-top: 3px solid black;
      margin: 0px 40px 40px 40px;
      padding: 40px 0 0 0;

      p {
        margin: 0 0 6px 0;
        font-size: 16px;
      }

      label {
        margin: 0 0 6px 0;
      }
    }

  }

  // 確認送出按鈕
  .donate_btn_outer {
    display: flex;
    // border: 1px solid red;
    justify-content: center;
    margin: 40px 0 40px 0;


    .donate_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 60px;
      border: 4px solid #50589D;
      border-radius: 32px;
      background-color: #50589D !important;
      color: white;
      font-size: 24px;


      span {
        color: white !important;
      }

      &:hover {
        box-shadow: 0px 0px 15px #5D92CD;
        border-radius: 32px;
      }
    }
  }




}