@import"../base/_font";
@import"../base/_color";


//BN區塊---------------------------------------------
.donate {

    // --------banner
    // .ImgSection {
    //     margin: 0;
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    //     height: 450px;
    //     background-image: url(/src/assets/images/donate/donate_BG.png);
    //     background-position: 0px, 500px;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     justify-content: center;
    //     align-self: center;

    //     @media(max-width:1440px) {
    //         background-position: 0, 0;
    //     }


    //     .p_block {
    //         // border: 1px solid green;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-self: center;
    //         margin-left: 200px;

    //         @media(max-width:620px) {
    //             margin-left: 0px;
    //         }

    //         p {
    //             width: 100%;
    //             // border: 1px solid red;
    //             color: white;
    //             font-size: 32px;
    //         }

    //         p:last-child {
    //             margin-left: 50px;

    //             @media(max-width:620px) {
    //                 margin-left: 0px;
    //             }
    //         }

    //     }

    // }

    .banner {
        width: 100%;

        img {
            width: 100%;
        }
    }

    //文案區塊---------------------------------------------
    .TextSection {
        // border: 1px solid red;
        margin: 100px 80px;
        display: flex;


        @media(max-width:1100px) {
            flex-direction: column;
        }

        @media(max-width:700px) {
            margin: 100px 40px;

        }

        @media(max-width:400px) {
            margin: 100px 20px;

        }

        .black_line_left {
            border-right: 3px solid black;
            display: flex;
            width: 100%;
            flex: 1;

            @media(max-width:1100px) {
                margin: 0 0px 40px 0;
                border-right: 0px;


            }

            div.WebsiteText {
                // border: 1px solid rgb(21, 104, 248);
                display: flex;
                width: 100%;
                // min-width: 460px;
                flex-direction: column;
                justify-content: center;
                margin: 0 40px 0 0;

                @media(max-width:1100px) {
                    margin: 0 0px 40px 0;

                }


                h1 {
                    font-size: $title-24;
                    margin: 0px;
                    margin-bottom: 24px;
                    line-height: 36px;
                }

                h3 {
                    font-size: $font-M-16 ;
                    line-height: 24px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 16px;
                    line-height: 28px;
                }
            }
        }




        // 右邊區域

        // 黃色外匡
        .black_line_right {
            // border: 1px solid green;
            margin: 0 0 0 40px;
            display: flex;
            flex: 1;

            @media(max-width:1100px) {
                margin: 0 0px 0px 0;

            }

            .DonationPlan {
                display: flex;
                flex: 1;
                flex-direction: column;
                // border: 1px solid rgb(196, 3, 115);
                width: 100%;
                height: auto;
                background-color: $secondary-y2 ;
                border: 4px solid $primary-y;
                border-radius: 32px;
                margin: 0 auto;

                // 捐款方案深黃匡
                h1 {
                    font-size: $title-24;
                    background-color: $secondary-y1 ;
                    border-radius: 29px 29px 0px 0px;
                    margin: 0px 0px 40px 0;
                    padding: 30px 50px;
                    vertical-align: baseline;
                    border-bottom: 4px solid $primary-y;
                }

                // 捐款四部揍
                div.DonationSteps {
                    // border: 1px solid rgb(1, 254, 26);
                    display: flex;
                    justify-content: center;
                    margin: 0px 20px 40px 0px;
                    width: 100%;


                    @media(max-width:700px) {
                        flex-direction: column;
                    }

                    div.item {
                        // border: 1px solid rgb(24, 100, 5);
                        display: flex;
                        flex-direction: column;

                        h2 {
                            // border: 1px solid rgb(203, 10, 232);
                            font-size: 24px;
                            background-color: #B8B8B8;
                            width: 60px;
                            height: 60px;
                            line-height: 60px;
                            text-align: center;
                            align-self: center;
                            border-radius: 50px;
                            margin: 0px;
                        }

                        .h2_yellow {
                            background-color: #F3CA1E;
                            color: black;
                        }

                        p {
                            margin: 0px;
                            margin-top: 12px;
                            font-size: 20px;
                            white-space: nowrap;
                        }

                        @media(max-width:700px) {
                            text-align: center;

                        }
                    }

                    div.RightArrow {
                        max-width: 18px;
                        align-self: center;
                        margin: 0px 20px;

                        @media(max-width:700px) {
                            margin: 20px auto;

                        }

                        img {
                            max-width: 18px;

                            @media(max-width:700px) {
                                transform: rotate(90deg);
                            }

                        }

                    }
                }

                // 捐款類別
                div.DonationCategory {
                    // border: 2px solid #F3CA1E;
                    display: flex;
                    margin: 0px 40px 40px 40px;

                    h3 {
                        // border: 1px solid blueviolet;
                        font-size: $font-L-20;
                        margin: auto 0px;
                        margin-right: 32px;
                        min-width: 82px;
                    }

                    .custom-checkbox {
                        font-size: 20px;
                        display: flex;
                        // border: 1px solid red;
                        width: auto;

                        .checkbox_img {
                            width: 25px;
                            height: 25px;
                            background-image: url(/src/assets/images/donate/donate_checkbox.png);
                            background-size: contain;
                            display: flex;
                            align-self: center;
                            margin: 0 5px 0 0;
                        }

                        p {
                            font-size: 20px;
                            width: 120px;
                            margin: auto 0;
                        }

                    }


                }

                // 捐款金額
                div.DonationAmount {
                    // border: 1px solid red;
                    display: flex;
                    margin: 0px 40px 40px 40px;


                    @media(max-width:550px) {
                        margin: 0px 20px 40px 40px;


                    }

                    h3 {
                        display: flex;
                        // border: 1px solid blueviolet;
                        font-size: $font-L-20;
                        margin: auto 32px auto 0px;
                        min-width: 82px;

                        @media(max-width:550px) {
                            margin: 0 32px auto 0px;

                        }

                        // @media(max-width:550px) {
                        //     margin: 0 0 20px 0px;

                        // }
                    }

                    #app {
                        display: flex;
                        // border: 1px solid blue;
                        gap: 20px;

                        @media(max-width:550px) {
                            display: block;
                        }

                        // @media(max-width:550px) {
                        //     flex-direction: column;
                        // }

                        button {
                            border: 2px solid black;
                            background-color: white;
                            border-radius: 32px;
                            scale: 1.2;

                            @media(max-width:550px) {
                                margin: 0 20px 20px 0px;
                            }



                            &.bg {
                                background-color: #F3CA1E;
                                font-weight: bolder;

                                // @media(max-width:550px) {
                                //     margin: 0 80px 0 80px;
                                // }
                            }

                        }
                    }
                }


                // 確認送出按鈕
                .donate_btn_outer {
                    display: flex;
                    // border: 1px solid red;
                    justify-content: center;
                    margin: 0 0 40px 0;


                    .donate_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 180px;
                        height: 50px;
                        border: 4px solid #50589D;
                        border-radius: 32px;
                        background-color: #50589D !important;
                        color: white;
                        font-size: 24px;


                        span {
                            color: white !important;
                        }

                        &:hover {
                            box-shadow: 0px 0px 15px #5D92CD;
                            border-radius: 32px;
                        }
                    }
                }

            }
        }

        a {

            button.btn {
                border: 2px solid rgb(5, 124, 19);
                margin: 55px 190px;
                padding: 0px;

                span {
                    margin: 15px 48px;
                    font-size: 20px;
                }

            }
        }
    }




    //連結區塊-------------------------------------------

    hr {
        width: 100%;
        // border: 1px solid rgb(0, 0, 0);
        margin-top: 84px;
    }

    div.linkBlock {
        // border: 1px solid rgb(51, 237, 34);
        display: flex;
        margin: 50px 136px;
        justify-content: center;


        div.PageLink {
            // border: 1px solid rgb(77, 15, 222);
            display: inline;
            margin-right: 124px;

            p {
                font-size: $font-M-16;
                padding-bottom: 15px;
                margin: 0px;
                white-space: nowrap;
            }
        }

        div.lnformation {
            font-size: $fontbase-14;
            margin: 0px;

            p {
                margin: 0px;
                line-height: 24px;
            }

            ul {
                // border: 1px solid rgb(216, 7, 167);
                margin: 0px;
                padding-left: 16px;

                li {
                    line-height: 24px;

                }
            }
        }
    }


}