@import"../base/_font";
@import"../base/_color";

.donate_basicinformation {

  // --------banner
  .ImgSection {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    background-image: url(/src/assets/images/donate/donate_BG.png);
    background-position: 0px, 500px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;

    @media(max-width:1440px) {
      background-position: 0, 0;
    }


    .p_block {
      // border: 1px solid green;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      margin-left: 200px;

      @media(max-width:620px) {
        margin-left: 0px;
      }

      p {
        width: 100%;
        // border: 1px solid red;
        color: white;
        font-size: 32px;
      }

      p:last-child {
        margin-left: 50px;

        @media(max-width:620px) {
          margin-left: 0px;
        }
      }

    }

  }


  .front_donate_flow {
    margin: 40px auto;
  }


  .main_block {
    // border: 1px solid green;
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: center;

    @media(min-width:768px) {
      margin: 0 100px 0 100px;

    }

    @media(min-width:1100px) {
      margin: 0 200px 0 200px;

    }



    .inner_block {
      display: flex;
      flex: 1;
      flex-direction: column;
      // border: 1px solid rgb(196, 3, 115);
      width: 100%;
      height: auto;
      background-color: $secondary-y2 ;
      border: 4px solid $primary-y;
      border-radius: 32px;
      margin: 0 auto;

      // 基本資料填寫深黃匡
      h1 {
        font-size: $title-24;
        background-color: $secondary-y1 ;
        border-radius: 29px 29px 0px 0px;
        margin: 0px 0px 20px 0;
        padding: 15px 0px;
        vertical-align: baseline;
        border-bottom: 4px solid $primary-y;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;

      }

      div {
        display: flex;
        flex-direction: column;
        // border: 1px solid violet;
        margin: 0 30px 20px 30px;

        p {
          margin: 0 0 6px 0;
        }

        input {
          background-color: #EFEFEF;
          border-radius: 4px;
          border: 1px solid black;
          margin: 0 0 0px 0;

        }
      }

      // 性別
      .gender-options {
        p {
          display: flex;
          // border: 1px solid red;
          margin: 0 0 6px 0;
        }

        .gender-inner {
          display: block;
          width: 100%;
          // border: 1px solid green;
          margin: 0;

          label {
            margin: 0 10px 0 0px;
          }
        }
      }

      // 地址
      .PostalCode {
        display: flex;
        width: 50%;
      }

      .drop-down_menu_block {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        // border: 1px solid blue;
        margin: 10px 0;

        @media(max-width:374px) {
          flex-direction: column;
          gap: 10px;
        }

        .list_block {
          display: inline-flex;
          justify-content: space-evenly;
          width: 49%;
          height: 30px;
          background-color: #EFEFEF;
          color: #B4B4B4;
          border-radius: 4px;
          border: 1px solid black;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url('/src/assets/images/donate/donate_button.svg');
          background-repeat: no-repeat;
          background-position: right center;
          cursor: pointer;
          outline: none; // 取消默认的外部轮廓
          box-shadow: none; // 取消默认的阴影边框
          font-size: 14px;


          @media(max-width:374px) {
            width: 100%;
          }

          &:hover {
            box-shadow: 0px 0px 15px #5D92CD;
            border-radius: 4px;
          }
        }
      }
    }

    // ------收據寄發方式
    .Receipt-options {
      margin: 0 0 6px 30px;

      .Receipt-inner {
        margin: 0;
      }
    }


  }

  // 確認送出按鈕
  .donate_btn_outer {
    display: flex;
    // border: 1px solid red;
    justify-content: center;
    margin: 40px 0 40px 0;


    .donate_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 50px;
      border: 4px solid #50589D;
      border-radius: 32px;
      background-color: #50589D !important;
      color: white;
      font-size: 24px;


      span {
        color: white !important;
      }

      &:hover {
        box-shadow: 0px 0px 15px #5D92CD;
        border-radius: 32px;
      }
    }
  }




}