@import "../base/color";
@import "../base/font";


// 包一個大外框再開始


div.game_fakenews {
  margin: 0;
  background-image: url("@/assets/images/game_fakenews/game_fakenews_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* width: 1440px; */
  /* height: 600px; */
  min-height: 450px;

  @media screen and (orientation: portrait) {
    display: none;
  }


  // 電腦版暗幕
  div.black_background {
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;

    @media(max-width: 767px) {
      display: none;

    }
  }

  // 手機版暗幕
  .black_background_phone {
    width: 100%;
    height: 100%;
    // background-color: black;
    // opacity: 0.6;
    display: none;

    @media(max-width: 767px) {
      display: block;
      background-color: black;
      opacity: 0.6;

    }
  }

  div.pillar_left,
  div.pillar_right {
    width: 137px;
    height: 230px;
    background-color: #989898;
    /* border: 1px solid red; */
    border-radius: 32px 32px 0 0;

  }



  div.pillar_left {
    cursor: pointer;
    position: fixed;
    left: 25%;
    bottom: 0;
    transform: translate(-50%, 0%);

    // border: 1px solid red;
    @media(max-width: 992px) {
      // position: fixed;
      left: 20%;
      bottom: 0;
      transform: translate(-50%, 0%);


    }

  }

  // 橋但是一開始沒有高度所以不會顯示
  .bridge {
    height: 0;
    width: 20px;
    background-color: #B5B5B5;
    position: absolute;
    bottom: 95%;
    left: 70%;
  }

  //橋的動畫套用根據不同視窗大小加上class
  .bridge.-bridge-largest {
    animation-name: bridge-largest;
    /* 动画名称 */
    animation-duration: 4s;
    /* 持续时间 */
    /*   animation-delay:6s; */
    background-color: #B5B5B5;
    /*   animation-direction:reverse;反方向又回去 */
    animation-fill-mode: forwards;
    /*  保持最终状态 */
    // position: absolute;
    // bottom: 95%;
    // left: 70%;
    transform-origin: bottom;
  }

  .bridge.-bridge-large {
    animation-name: bridge-large;
    /* 动画名称 */
    animation-duration: 4s;
    /* 持续时间 */
    /*   animation-delay:6s; */
    background-color: #B5B5B5;
    /*   animation-direction:reverse;反方向又回去 */
    animation-fill-mode: forwards;
    /*  保持最终状态 */
    // position: absolute;
    // bottom: 95%;
    // left: 70%;
    transform-origin: bottom;
  }

  .bridge.-bridge-medium {
    animation-name: bridge-medium;
    /* 动画名称 */
    animation-duration: 4s;
    /* 持续时间 */
    /*   animation-delay:6s; */
    background-color: #B5B5B5;
    /*   animation-direction:reverse;反方向又回去 */
    animation-fill-mode: forwards;
    /*  保持最终状态 */
    // position: absolute;
    // bottom: 75%;
    // left: 20%;
    transform-origin: bottom;
  }

  .bridge.-bridge-small {
    animation-name: bridge-small;
    /* 动画名称 */
    animation-duration: 4s;
    /* 持续时间 */
    /*   animation-delay:6s; */
    background-color: #B5B5B5;
    /*   animation-direction:reverse;反方向又回去 */
    animation-fill-mode: forwards;
    /*  保持最终状态 */
    // position: absolute;
    // bottom: 75%;
    // left: 20%;
    transform-origin: bottom;
  }

  // 橋動畫套用
  @keyframes bridge-largest {
    0% {
      height: 0;
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(90deg);
      height: 630px;
    }
  }

  @keyframes bridge-large {
    0% {
      height: 0;
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(90deg);
      height: 610px;
    }
  }

  @keyframes bridge-medium {
    0% {
      height: 0;
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(90deg);
      height: 400px;
    }
  }

  @keyframes bridge-small {
    0% {
      height: 0;
    }

    50% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(90deg);
      height: 320px;
    }
  }


  div.pillar_right {
    position: fixed;
    left: 75%;
    bottom: 0;
    transform: translate(-50%, 0%);

    @media(max-width: 992px) {
      // position: fixed;
      left: 80%;
      bottom: 0;
      transform: translate(-50%, 0%);


    }
  }

  // 黃的框
  div.yellow {
    // border: 1px solid blue;
    width: 102px;
    height: 104px;
  }

  // 腳色走路動畫============================================
  div.yellow.-on {
    animation-name: walk;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-fill-mode: forwards;

    @media(min-width:768px) {
      animation-name: walk_large;
    }
  }


  @keyframes walk {
    0% {
      // bottom: 100%;
      // left: 0;
      transform: translate(0px);
    }

    100% {
      // bottom: 100%;
      // left: 200px;
      transform: translate(200px);
    }

  }



  @keyframes walk_large {
    0% {
      // bottom: 100%;
      // left: 0;
      transform: translate(0px);
    }

    100% {
      // bottom: 100%;
      // left: 200px;
      transform: translate(400px);
    }

  }

  div.yellow,
  div.black img {
    position: absolute;
    left: 10%;
    bottom: 230px;
    /* width: 100%; */
  }

  div.return {
    width: 57px;
    height: 57px;
    position: absolute;
    left: 6%;
    top: 10%;
    transform: translate(-50%, -50%);

    @media(max-width: 768px) {
      width: 40px;
      height: 40px;

    }


    .return_photo {
      width: 100%;
    }

  }

  // 文字訊息框=======================================================
  div.window {
    // fixed是不會占空間
    // border: 1px solid red;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    // margin: auto auto;

    @media(max-width: 768px) {
      display: flex;

    }


    .text_window {
      border: 4px solid black;
      width: 295px;
      height: 152px;
      background-color: #fff;
      border-radius: 32px;
      margin-right: 40px;

      // margin: auto;
      p {
        text-align: center;
        padding: 20px;
        font-size: 16px;
      }
    }

    .stand_circle_photo {
      flex-basis: 200px;
      // border: 1px solid blue;
      width: 110px;
      height: 110px;
      align-self: center;

      .img {
        width: 100%;
      }
    }

  }

  div.show_text {
    width: 100%;
    height: 120px;
    background-color: #D6D6D6;
    position: fixed;
    bottom: 0;
    left: 0;

    p {
      font-size: 16px;
      /* text-align: center;*/
      padding: 20px;
      // border: 1px solid blue;


      @media(max-width:1200px) {
        width: 360px;
        display: block;
        padding: 30px 10px;
        margin-left: 20px;
        font-size: 14px;
      }

      @media(min-width: 768px) and (max-width: 991.98px) {
        width: 300px;
        padding: 30px 5px;

      }


    }

    @media(max-width: 768px) {
      display: none;
    }
  }




  button {
    border: none;
    background-color: #50589D;
    width: 100px;
    height: 40px;
    border-radius: 32px;
    color: #fff;
  }

  div.show_text p,
  button.button {
    display: inline-block;
  }



  div.img_container {
    /* border: 1px solid red; */
    position: fixed;
    bottom: 0;
    right: 0;
    // width: 245px;
    // height: 297px;

    .big_stand {
      // width: 100%;
      // border: 1px solid red;

      @media(max-width:992px) {
        display: none;
      }
    }

    .medium_stand {
      display: none;
      // opacity: 0;
      // border: 1px solid yellow;

      @media (min-width: 768px) and (max-width: 991.98px) {
        // opacity: 1;
        // z-index: 99;
        display: block;

      }
    }
  }

  div.bottom_set {
    border: 1px solid yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    /* min-width: 667px; */
  }
}

// 遊戲題目
.score {
  text-align: center;
  font-size: 24px;
  position: fixed;
  right: 6%;
  top: 10%;
  transform: translate(-50%, -50%);

}

div.card_show {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  /* 平滑過渡 */

  div.container_qs {
    display: flex;
    // display: none;
    gap: 60px;
    // border: 1px solid red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // opacity: 0;

    div.right_QA,
    div.left_QA {
      border: 7px solid $primary-b;
      margin: 10px;
      width: 315px;
      height: 355px;
      font-size: 16px;
      border-radius: 32px;
      padding: 15px;
      background-color: #fff;
      display: grid;
      grid-template-rows: 1fr 5fr 1fr;

      @media(min-width:992px) and (max-width:1200px) {
        width: 284px;
        height: 320px;
      }

      @media(min-width:768px) and (max-width:992px) {
        width: 252px;
        height: 284px;
        font-size: 14px;
      }

      //要改成換頁的方式，手機板
      @media(max-width:768px) {
        width: 252px;
        height: 284px;
        font-size: 14px;
      }


    }


    .title_qs {
      // border: 1px solid red;
      margin: 0 auto;
      height: 27px;
    }

    .content_qs {
      // border: 1px solid blue;
      margin-bottom: 10px;
    }

    .ans_qs {
      margin: 0;
    }

    button {
      // border: 1px solid green;
      margin: 0 auto;
    }

  }

  &.-on {

    // pointer-events: auto;
    animation-name: fade;
    animation-duration: 3s;
    animation-delay: 12s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}