@import "../base/color";
@import "../base/font";

.game_outside_box {
  margin-bottom: 260px;

  .game_content_box {
    margin-top: 100px;


    .title {
      text-align: center;
      font-size: $title-24;
      // border: 1px solid blue;
    }

    .content_text {
      width: 800px;
      margin: 0 auto;
      margin-top: 60px;

      // border: 1px solid green;
      @media (min-width:767.98px) and (max-width:992px) {
        width: 600px;
      }

      @media (min-width:575.98px) and (max-width:768px) {
        width: 500px;
      }

      @media (min-width:375px) and (max-width:576px) {
        width: 350px;
      }

      @media (max-width:375px) {
        width: 300px;
      }




    }



    .game_image {
      width: 800px;
      // height: 440px;
      // border: 1px solid red;
      margin: 0 auto;
      margin-top: 60px;

      @media (min-width:767.98px) and (max-width:992px) {
        width: 600px;
      }

      @media (max-width:768px) and (min-width:576px) {
        width: 500px;
      }

      @media (max-width:575.98px) and (min-width:375px) {
        width: 350px;
      }

      @media (max-width:375px) {
        width: 250px;
      }


      // @media (max-width:768px) {
      //  
      // }

      .world {
        width: 100%;

        @media (max-width:768px) {
          display: none;
        }
      }

      .world_phone {
        display: none;
        width: 100%;

        @media (max-width:768px) and (min-width:576px) {
          display: block;
        }

        @media (max-width:575.98px) and (min-width:375px) {
          display: block;
          // width: 300px;
        }

        @media (max-width:375px) {
          display: block;
          // width: 300px;
        }



      }

    }
  }


  // 遊戲卡片位置
  .game_choice_outside {
    .choice_title {
      text-align: center;
      color: $font-L-20;
      margin-top: 200px;
      font-size: $font-L-20;
      margin-bottom: 30px;

      @media (max-width:768px) {
        margin-top: 100px;
      }
    }

    .card_outside {
      position: relative;
      // 為什麼拿掉就掉下去了
      border: 1px solid transparent;
      width: 385px;
      height: 500px;
      margin: 0 auto;

      @media (max-width:768px) {
        width: 300px;
      }


      .yellow {
        display: none;
      }

      &:hover {
        cursor: pointer;

        .yellow {
          display: block;
        }

        .black {
          display: none;
        }
      }

      .game_character_photo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0px);

        // border: 1px solid red;
        .img {
          width: 100%;

        }
      }

      .card_inside {
        margin-top: 200px;


        .text_box {
          display: flex;
          flex-direction: column;
          border: 10px solid $primary-y;
          width: 100%;
          height: 100%;
          background-color: $secondary-y2;
          border-radius: 32px;

          margin: 0 auto;
          padding: 80px 20px 20px;

          // border: 1px solid blue;
          &:hover {
            border: 10px solid $primary-b;
          }


        }

        .text_title {
          font-size: $font-L-20 ;
          text-align: center;
          flex-basis: 40px;

        }

        .text_introduce {
          flex-grow: 1;
          font-size: $font-M-16 ;
        }

        .enter_game {
          // flex-basis: 60px;
          align-self: center;
          margin-top: 80px;
          border: none;
          background-color: $primary-y;
          // width: 180px;
          // height: 64px;
          border-radius: 32px;
          padding: 20px 60px;
          font-size: $font-M-16 ;

          &:hover {
            background-color: $primary-b ;
          }

          // 改不了顏色
          .router-link {
            color: black;
            // width: 180px;
            // height: 64px;
            text-decoration: none;
          }

        }
      }
    }
  }
}