@import "../base/color";
@import "../base/font";

// z-index是要跟同一層進行比較，每一層外層要看得到

// index
// 答題訊息(100)=> 電腦版關主(99) +分數 => 文字含按鈕電腦版(77) => 電腦版黑幕(55) => 手機板關主+文字(44) => 手機黑幕(30) => => 角色(15) 柱子(10) => 橋(5) => 背景(1)

.game_fakenews {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("@/assets/images/game_fakenews/game_fakenews_background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // 處理掉上下滑動的位置
  overflow: hidden;
  width: 100%;
  height: 100vh;
  // min-height: 450px;
  // border: 1px solid red;


  @media screen and (orientation: portrait) {
    display: none;

  }

  // 電腦版暗幕
  .black_background {
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.6);
    z-index: 55;
    position: relative;

    @media(max-width: 767px) {
      // display: none;
      transform: scaleY(0);
      // opacity: 0;
      display: none;

    }

    &.-on {
      display: none;
      // transform: scaleY(0);
      // opacity: 0;
    }



  }

  // 手機版暗幕
  .black_background_phone {
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    z-index: 30;
    position: relative;

    @media(max-width: 767px) {
      display: block;
      background-color: rgba(black, 0.6);
      // opacity: 0.6;

    }

    &.-start {
      animation-name: fadeInAndOut;
      animation-duration: 4s;
      opacity: 0;
      // 維持那個狀態
      animation-fill-mode: forwards;

      // z-index: 30;
    }

    // &.-qs_hidden {
    //   animation-name: fade;
    //   animation-duration: 3s;
    //   animation-delay: 7s;
    //   animation-timing-function: ease-in;
    //   animation-fill-mode: forwards;
    // }

    &.-on {
      // display: none;
      // transform: scaleY(0);
      opacity: 1;
    }

  }

  // 手機關主文字訊息框=======================================================
  .window {
    // fixed是不會占空間
    // border: 1px solid red;
    z-index: 44;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // z-index: 99;
    // margin: auto auto;
    opacity: 0;

    @media(max-width: 768px) {
      display: flex;



      &.-start {
        animation-name: fadeInAndOut;
        animation-duration: 4s;
        opacity: 0;
        animation-fill-mode: forwards;

      }


      .text_window {
        border: 4px solid black;
        width: 295px;
        height: 152px;
        background-color: #fff;
        border-radius: 32px;
        margin-right: 40px;


        // margin: auto;
        p {
          text-align: center;
          padding: 20px;
          font-size: 16px;
        }
      }

      .stand_circle_photo {
        flex-basis: 200px;
        // border: 1px solid blue;
        width: 110px;
        height: 110px;
        align-self: center;

        .img {
          width: 100%;
        }
      }
    }
  }


  @keyframes fadeInAndOut {
    0% {
      opacity: 0;
      /* 一开始不可见 */
    }

    50% {
      opacity: 1;
      /* 10%時開始出現 */
    }

    90% {
      opacity: 1;
      transform: scaleY(0);
      /* 90%時保持可見 */
    }

    100% {
      opacity: 0;
      // display: none;
      /* 100%时消失 */
      pointer-events: none;
      transform: scaleY(0);
      /* 確保不再占據空间 */
    }
  }


  .pillar_left,
  .pillar_right {
    width: 137px;
    height: 180px;
    background-color: #989898;
    /* border: 1px solid red; */
    border-radius: 32px 32px 0 0;
    z-index: 10;
    position: absolute;
    bottom: 0;
  }



  .pillar_left {
    cursor: pointer;
    // position: fixed;
    left: 15%;
    // bottom: 0;
  }

  // 橋的動畫做兩層，先做第一層功能再做第二層，下一層delay 1s
  .bridge {
    height: 20px;
    display: block;
    width: calc(100% - 15%*2 - 137px*2 + 32px + 32px);
    position: absolute;
    bottom: 160px;
    // 橋用算的取長度
    left: calc(15% + 137px - 32px);
    transform: scaleY(0);
    transition: transform 1s;
    transform-origin: 0;
    z-index: 5;

    &.-on {
      transform: scaleY(1);

    }

    &__inner {
      background-color: #B5B5B5;
      width: 100%;
      height: 100%;
      transition: transform 1s 1s;
      transform-origin: 0;


      transform: rotate(-90deg);

      &.-on {
        transform: rotate(0deg);
      }


    }


  }

  .pillar_right {
    // position: fixed;
    right: 15%;
    // bottom: 0;
  }

  // 黃的框角色
  .yellow {
    // border: 1px solid blue;
    width: 102px;
    height: 104px;
    position: absolute;
    // 15%是柱子定位點，68.5是柱子的寬，然後是腳色的一半寬
    left: calc(15% + 68.5px - 51px);
    bottom: 180px;
    z-index: 15;
    cursor: pointer;
    // opacity: 1;

    // 為了等下進行過渡，需要先添加
    transition: transform 0.3s ease, filter 0.3s ease; // 添加 filter 的过渡效果

    @media (min-width:992px) {
      &:hover {
        // 調整大小
        transform: scale(1.2);
        // filter: brightness(1.2) contrast(0.9) saturate(0.7);
        // opacity: 1;
      }
    }


    #text_for_click {
      color: black;
      // border: 1px solid rebeccapurple;
      position: absolute;
      left: 0;
      top: -40%;

      &.-on {
        display: none;
      }
    }
  }

  // 腳色走路動畫============================================
  .yellow.-on {
    animation-name: walk;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;



    @keyframes walk {
      0% {
        // bottom: 100%;
        // left: 0;
        transform: translate(0px);
      }

      100% {
        // bottom: 100%;
        // left: 200px;
        //100vw是因為人物有可能會有視窗邊框的問題，橋長中間則不用
        // transform: translate(calc((100% - 15%*2 - 137px*2 + 68.5*2)/2 + 68.5px + 51px)); 取代如下要算到柱子的一半加上
        transform: translate(50vw) translate(-15vw) translate(-137px) translate(-68.5px) translate(68.5px) translate(51px);
      }

    }

  }

  .black img {
    position: absolute;
    left: 10%;
    bottom: 180px;
    z-index: 10;
    /* width: 100%; */
  }

  // 返回鍵需要加link直接貼路徑header再改樣式給他div
  .return {
    width: 57px;
    height: 57px;
    position: absolute;
    left: 6%;
    top: 10%;
    transform: translate(-50%, -50%);
    z-index: 99;

    @media(max-width: 768px) {
      width: 40px;
      height: 40px;

    }


    .return_photo {
      width: 100%;
    }

  }


  // 電腦版關主訊息
  .show_text {
    width: 100%;
    height: 140px;
    background-color: #D6D6D6;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 77;

    &.-on {
      display: none;
    }

    p {
      font-size: 16px;
      /* text-align: center;*/
      padding: 20px;

      // border: 1px solid blue;
      @media(min-width:1198px) and (max-width:1400px) {
        width: 600px;
        display: block;
      }

      @media(min-width:992px) and (max-width:1200px) {
        width: 360px;
        display: block;
        padding: 30px 10px;
        margin-left: 20px;
        font-size: 14px;
      }

      @media(min-width: 768px) and (max-width: 991.98px) {
        width: 300px;
        padding: 30px 5px;
        // display: flex;
      }


    }

    @media(max-width: 768px) {
      display: none;
    }
  }




  button {
    border: none;
    background-color: $primary-b;
    width: 100px;
    height: 40px;
    border-radius: 32px;
    color: #fff;
  }

  .show_text p,
  button.button {
    display: inline-block;


  }



  .img_container {
    /* border: 1px solid red; */
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;

    // width: 245px;
    // height: 297px;
    &.-on {
      display: none;
    }

    .big_stand {
      // width: 100%;
      // border: 1px solid red;

      @media(max-width:992px) {
        display: none;
      }
    }

    .medium_stand {
      display: none;
      // opacity: 0;
      // border: 1px solid yellow;

      @media (min-width: 768px) and (max-width: 991.98px) {
        // opacity: 1;
        // z-index: 99;
        display: block;

      }
    }
  }

  .bottom_set {
    border: 1px solid yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    /* min-width: 667px; */
  }


  // 遊戲題目
  .score_bar {
    text-align: center;
    font-size: 24px;
    position: fixed;
    right: 3%;
    top: 10%;
    transform: translate(-50%, -50%);
    z-index: 99;

    @media(min-width:767.98px) and (max-width:992px) {
      font-size: 20px;
    }

    @media(max-width:768px) {
      font-size: 16px;
    }

  }

  .card_show {
    opacity: 0;
    position: relative;
    z-index: 99;
    // 禁止點選
    pointer-events: none;
    transition: opacity 0.3s ease;
    /* 平滑過渡 */
    // border: 1px solid green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    .container_qs {
      display: flex;
      // display: none;
      gap: 60px;
      // border: 1px solid red;
      // position: fixed;

      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);

      // opacity: 0;
      @media(max-width:767px) {
        gap: 20px;
      }

      .right_QA,
      .left_QA {
        border: 9px solid $primary-b;
        margin: 10px;
        width: 315px;
        height: 355px;
        font-size: 16px;
        border-radius: 32px;
        padding: 15px;
        background-color: #fff;
        display: grid;
        grid-template-rows: 1fr 5fr 1fr;

        &:hover {
          // width: 330px;
          // height: 372px;
          border: 9px solid $secondary-b1;

        }

        @media(max-width:992px) {
          width: 284px;
          height: 320px;

          &:hover {
            // width: 315px;
            // height: 355px;
            border: 7px solid $primary-y;

          }
        }

        //要改成換頁的方式，手機板
        @media(max-width:768px) {
          width: 252px;
          height: 284px;
          font-size: 14px;

          &:hover {
            // width: 265px;
            // height: 298px;
            border: 7px solid $primary-y;

          }
        }

        @media(max-width:575px) {
          width: 236px;
          height: 266px;
          font-size: 14px;

          &:hover {
            // width: 265px;
            // height: 298px;
            border: 7px solid $primary-y;

          }
        }


      }


      .title_qs {
        // border: 1px solid red;
        margin: 0 auto;
        height: 27px;
      }

      .content_qs {
        // border: 1px solid blue;
        margin-bottom: 10px;
      }

      .ans_qs {
        margin: 0;
        display: none;

        &.-on {
          display: block;
        }
      }

      // 答題確認的按鈕
      button {
        // border: 1px solid green;
        margin: 0 auto;

        &.-fail {
          display: none;
        }


        &:hover {
          color: black;
          background-color: $primary-y ;
        }
      }

    }

    // 題目出現，是用點選柱子class判斷是否為on,加上-on觸發動畫，原本是5秒(長出+倒下 => 2s + 角色走路3s ) 多留時間
    &.-on {

      pointer-events: auto;
      animation-name: fade;
      animation-duration: 2s;
      animation-delay: 5s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &.-result_correct {
      // display: block;
      opacity: 1;
      pointer-events: auto;
    }
  }

  .correct_box {
    // width: 910px;
    // height: 160px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    // border: 1px solid red;

    transform: translate(-50%, -50%);
    display: flex;
    gap: 30px;
    display: none;

    &.appear {
      display: flex;
    }

    .correct_text {
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text {
        text-align: center;
        color: $primary-y;
        font-size: 24px;


      }

      // 吉祥物的button
      button {
        margin: 5px;

        &:hover {
          background-color: $primary-y;
          color: #000;

        }
      }
    }

    .img_character {

      .img {
        width: 100%;
      }


    }
  }



  .score_result {
    border: 1px solid red;
    position: absolute;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid $primary-y;
    background-color: $secondary-y2;
    border-radius: 32px;
    // width: 574px;
    // height: 366px;


    .score_best {
      display: grid;
      grid-template-columns: auto auto;
      gap: 30px;
      // border: 1px solid purple;

      .score_text {
        // border: 1px solid red;
        width: 250px;
        // height: 220px;
        padding: 20px;

        // gap: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .score_total {
          // border: 1px solid green;
          align-self: center;
          font-size: $font-L-20;
          padding: 10px 0;

          .score {
            text-align: center;
          }

        }

        .title_name {
          // border: 1px solid yellow;
          // height: 32px;
          // width: 242px;
          align-self: center;
          font-size: $title-24;
          font-weight: 500;

        }

        .button_for_again {
          // border: 1px solid orange;
          align-self: center;

        }
      }

      .score_img {
        // border: 1px solid blue;
        width: 170px;
        padding: 20px;

        img {
          width: 100%;
        }
      }

    }
  }


}