@import "../base/color";
@import "../base/font";

.home {
  // ---------RWD----------
  // --------平板斷點---------
  $tablet_BP : 768px;

  @mixin t() {
    @media all and (max-width : $tablet_BP) {
      @content
    }
  }

  ;

  // --------手機版斷點-------
  $mobile_BP : 576px;

  @mixin m() {
    @media all and (max-width : $mobile_BP) {
      @content
    }
  }

  ;






  h1 {
    color: $primary-y
  }

  p {
    line-height: 1.5;
  }





  // --------------banner-----------------


  //  gridtest
  .grid_container {
    // background-color: gray;
    display: block;
    justify-content: center;
    // position: absolute;

    // height: 550px;


    .wrapper {
      display: grid;
      // background-color: #6D7BA3;
      grid-template-columns: repeat(3, 1fr);
      background-image: url(/src/assets/images/home/home_banner.svg);
      background-position: 0 0;
      background-size: contain;
      // border: 1px solid blue;
      padding: 0px 60px;
      font-size: 16px;
      font-weight: bolder;



      @media(max-width:950px) {
        grid-template-columns: repeat(2, 1fr);

      }

      @media(max-width:641px) {
        grid-template-columns: repeat(1, 1fr);

      }

      .banner_card {
        // border: 1px solid red;
        border-radius: 32px;
        background-color: #FEFCF0;
        padding: 30px;
        text-align: center;
        display: flex;
        align-self: center;
        position: relative;
        color: #50589D
      }


      @keyframes blink {
        0% {
          scale: 1;
        }

        50% {
          scale: 1.2;
        }

        100% {
          scale: 1;
        }
      }

      .close_button {
        position: absolute;
        top: 5px;
        right: 5px;
        border: 1px solid black;
        background-color: black;
        color: white;
        border-radius: 50px;
        animation: blink 1s infinite;

        &.-clicked1,
        &.-clicked2,
        &.-clicked3,
        &.-clicked4,
        &.-clicked5 {
          cursor: default;
        }

      }

      #banner_card1 {
        margin: 60px 20px 70px 0;
        width: 84%;
        text-align: center;
        display: flex;
        align-self: center;
        opacity: 1;
        transition: opacity 0.5s;

        &.-clicked1 {
          opacity: 0;

        }

        @media(max-width:950px) {
          margin: 60px 20px 0px 0;

        }

        @media(max-width:768px) {
          margin: 30px 10px 10px 0;
          font-size: 14px;
        }

        @media(max-width:641px) {
          margin: 60px auto 30px auto;
          width: 100%;
        }
      }



      #banner_card2 {
        margin: 120px 00px 20px 0;
        width: 76%;
        opacity: 1;
        transition: opacity 0.5s;

        &.-clicked2 {
          opacity: 0;
        }

        @media(max-width:950px) {
          margin: 30px 00px 0px 0;

        }

        @media(max-width:768px) {
          margin: 30px 00px 0px 0;
          font-size: 14px;
        }

        @media(max-width:641px) {
          margin: 30px auto;
          width: 100%;
        }
      }

      #banner_card3 {
        margin: 80px 20px 60px 0;
        width: 76%;
        opacity: 1;
        transition: opacity 0.5s;

        &.-clicked3 {
          opacity: 0;
        }

        @media(max-width:950px) {
          margin: 0px 0px 0px 60px;

        }

        @media(max-width:768px) {
          margin: 20px 10px 15px 0;
          font-size: 14px;
        }

        @media(max-width:641px) {
          margin: 30px auto;
          width: 100%;
        }
      }

      #banner_card4 {
        margin: 0px 0px 0px 60px;
        width: 86%;
        opacity: 1;
        transition: opacity 0.5s;

        &.-clicked4 {
          opacity: 0;
        }

        @media(max-width:950px) {
          margin: 40px 0px 20px 60px;

        }

        @media(max-width:768px) {
          margin: 20px 0px 30px 0px;
          font-size: 14px;

        }

        @media(max-width:641px) {
          margin: 30px auto;
          width: 100%;
        }
      }

      #banner_card5 {
        margin: 0px 0px 80px 80px;
        width: 100%;
        opacity: 1;
        transition: opacity 0.5s;

        &.-clicked5 {
          opacity: 0;

        }

        @media(max-width:950px) {
          margin: -140px 0px 0px 20px;

        }

        @media(max-width:768px) {
          margin: 0px 0px 20px 20px;
          font-size: 14px;

        }

        @media(max-width:641px) {
          margin: 30px auto;
          width: 100%;
        }
      }


      // 手手.
      .img_block {
        // border: 1px solid red;

        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0 auto;



        .the_hand {
          // border: 1px solid blue;
          margin: 0;
          margin: 0px 0px 0 120px;
          position: relative;
          width: 60%;



          @media(max-width:768px) {
            width: 50%;
          }

          @media(max-width:641px) {
            width: 50%;
            margin: 30px auto 0px auto;

          }
        }

        // 你很棒
        .good_job {
          width: 100%;
          margin: -131px 00px 0px 0px;
          // border: 1px solid red;

        }
      }

    }
  }





  // --------------標題文字區-----------------
  .titleBlock {
    // border: 1px solid red;
    margin: 100px 200px 260px 200px;

    @include t() {
      margin: 100px 100px 260px 100px;
    }

    @include m() {
      margin: 100px 30px 260px 30px;

    }

    .titleText {
      font-size: $title-24;
      // border: 1px solid blue;
      text-align: center;
    }

    .titleBlockA {
      margin: 0 0 60px 0;
    }

    .titleBlockB {
      // border: 1px solid pink;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 0 auto;


      .block_column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        // border: 1px solid black;

        @include m() {
          flex-direction: column;

        }


        div {
          display: flex;
          flex-direction: column;
          margin: 0;
          width: 100%;
          // border: 1px solid green;

          // 角色框框
          .image_block {
            width: 100%;
            display: flex;
            // border: 1px solid red;
            justify-content: center;
            margin: 0px auto -70px auto;

            @media(max-width:1100px) {
              margin: 0px auto -30px auto;

            }


            img {
              width: 100%;
              position: relative;
              z-index: 1;
            }
          }

          .titleBlockB_inner {
            border: 4px solid $primary-y;
            background-color: #FEFCF0;
            border-radius: 16px;
            // height: 200px;

            display: flex;
            justify-content: center;
            // margin: 20px;
            align-items: center;
            position: relative;
            z-index: 2;



            .titleText2 {
              font-size: 18px;
              color: #4961AB;
              margin: 40px 20px;
            }
          }
        }






      }
    }
  }


  // 網中愚可以提供什麼服務
  .three_block {
    display: flex;
    justify-content: center;
    gap: 60px;


    @media(max-width:768px) {
      flex-direction: column;
    }



    .three_block_inner1 {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      text-align: center;
      align-items: center;

      &:hover {
        transform: scale(1.2);
      }
    }

    .three_block_inner2 {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      text-align: center;
      align-items: center;

      &:hover {
        transform: scale(1.2);
      }
    }

    .three_block_inner3 {
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      text-align: center;
      align-items: center;

      &:hover {
        transform: scale(1.2);
      }
    }

    .router_btn {
      font-size: 20px;
      border: 4px solid $primary-y;
      background-color: #FEFCF0;
      border-radius: 16px;
      margin: 0px auto 20px auto;
      padding: 20px 0px;
      width: 190px;
      min-width: 190px;
      text-decoration: none;
      color: inherit;
      color: #4961AB;
      transition: transform 0.3s;



      span {
        margin: 10px 30px 10px 30px;
        width: 190px;
        min-width: 190px;
        white-space: nowrap;
      }


    }



    img {
      margin: 0px 0 0 0;
    }

  }




  // ----------你也可以加入這場改變
  .yellow_block_outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin: 200px 0px 0px 0px;
    // border: 1px solid blue;

    .yellow_block {
      border: 4px solid $primary-y;
      border-radius: 32px;
      background-color: #FEFCF0;
      width: 100%;

      .yellow_block_inner {
        margin: 80px 80px;

        @media (max-width:900px) {
          margin: 40px 40px;
        }

        .h1 {
          font-size: 24px;
          margin: 0;
        }

        ul {
          // border: 1px solid red;
          margin: 0;
          padding: 0;



          li {
            list-style-type: none;
            // border: 1px solid green;
            font-size: 16px;
            margin: 10px 0 0px 0;
            padding: 0;
          }
        }
      }
    }

    // 小黑
    #Blacky_block {
      // border: 1px solid violet;
      display: flex;
      margin: -200px 0px 0px 00px;
      width: 900px;
      position: relative;
      left: -430px;
      bottom: 0px;

      @media (max-width:900px) {
        left: -200px;
        margin: -100px 0px 0px 00px;
        width: 800px;
      }

      @media (max-width:600px) {
        justify-content: center;
        width: 100%;
        left: 0px;
      }


      .Blacky_block_overflow {
        height: 500px;
        overflow: hidden;

        @media (max-width:900px) {
          height: 400px;
        }

        @media (max-width:600px) {
          height: 240px;
        }


        img {
          width: 100%;
        }

      }

    }
  }

  // --------------你也可以加入這場改---------------

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .base_BG {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 600px;
    background-color: #484848;
    background-image: url(/src/assets/images/home/home_lamp_bg2.png);
    background-size: auto;
    background-position: center 30px;
    transition: background-image 0.2s ease;

    &.-clicked {
      background-image: url(/src/assets/images/home/home_lamp_bg1.png);
      background-size: auto;
      background-position: center 0px;
    }


    .lamp {
      // border: 1px solid green;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      width: 100%;

      .line {
        width: 4px;
        height: 70px;
        border: 1px solid white;
        background-color: white;
        display: flex;
        align-self: center;

        // @media (max-width:768px) {
        //   height: 120px;
        // }

      }


      .half_circle {
        width: 100px;
        height: 50px;
        background-color: white;
        border-radius: 50px 50px 0 0;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          transform: scale(1.2); // hover 時縮放為 1.2 倍
        }

        p {
          display: flex;
          font-size: 14px;
          // border: 1px solid red;
          margin: 10px 0 0 0;
          user-select: none;

        }
      }
    }

    .text_area_change {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid red;
      margin: 100px 0px 30px 0px;
      width: 300px;
      align-self: center;
      opacity: 0;
      transition: opacity 0.2s ease;

      &.-clicked {
        opacity: 1;

      }

      @media (max-width:500px) {
        width: 80%;

      }

      p:first-child {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }

      p:last-child {
        display: flex;
        align-self: center;
        font-size: 20px;
        width: 100%;
        // border: 1px solid green;
        margin: 10px 0 0 0;
      }

    }

    .donate_btn {
      display: flex;
      // border: 1px solid red;
      align-self: center;
      justify-content: center;
      margin: auto 0;
      position: relative;
      z-index: 2;
      margin: 0;
      opacity: 0;
      transition: opacity 0.2s ease;

      &.-clicked {
        opacity: 1;
      }


      span {
        font-size: 20px;
        width: 144px;
        height: 72px;
        background-color: #50589D;
        border-radius: 32px;
        text-align: center;
        line-height: 72px;
        color: #fff;

      }

      &:hover span {
        background-color: #6b75b6;
        scale: 1.1;
      }
    }



    .lamp_man_block {
      // border: 1px solid pink;
      margin: -260px 0px 0px 0;
      position: relative;
      z-index: 1;

      @media (max-width:1060px) {
        margin: -50px auto 0px auto;

      }

      @media (max-width:576px) {
        display: flex;
        justify-content: center;
        margin: 0px auto 0px auto;


      }


      img {
        // border: 1px solid red;
        margin: 0 0px 0 60px;

        @media (max-width:1060px) {
          margin: 0px auto 0px auto;


        }

        @media (max-width:576px) {
          width: 50%;
          margin: 0 0 0 0;

        }
      }
    }

  }



}