@import "../base/color";
@import "../base/font";


.fakenews {


  // ---------RWD----------
  // --------平板斷點---------
  $tablet_BP : 768px;

  @mixin t() {
    @media all and (max-width : $tablet_BP) {
      @content
    }
  }

  ;



  // --------手機版斷點-------
  $mobile_BP : 576px;

  @mixin m() {
    @media all and (max-width : $mobile_BP) {
      @content
    }
  }

  ;






  h1 {
    color: $primary-y
  }

  p {
    line-height: 1.5;
  }





  // --------------banner-----------------
  .banner {
    height: 819px;
    background-color: #FEFCF0;
    display: flex;
    justify-content: center;
    margin: 0;

    p {
      margin: auto 0;
      font-size: $title-24;
    }

  }

  .outerBlock {
    // margin: 0 0 260px 0;
    border: 1px solid green;

  }


  // --------------標題文字區-----------------
  .titleBlock {
    border: 1px solid red;
    margin: 100px 200px 260px 200px;

    @include t() {
      margin: 100px 100px 260px 100px;
    }

    @include m() {
      margin: 100px 30px 260px 30px;

    }

    .titleText {
      font-size: $title-24;
      // border: 1px solid blue;
      text-align: center;
    }

    .contentText {
      font-size: $font-M-16;
    }

    .titleBlockA {
      margin: 0 0 60px 0;
    }

    .titleBlockB {
      border: 1px solid pink;
      display: flex;
      gap: 30px;
      margin: 0 30px 60px 30px;

      @media (max-width:950px) {
        flex-direction: column;
        gap: 60px;
      }

      @include m() {

        margin: 0 0px 60px 0px;
      }

      .titleBlockB_inner {
        border: 4px solid $primary-y;
        background-color: #FEFCF0;
        border-radius: 16px;
        // margin: 40px;
        padding: 40px;

        .titleText2 {
          font-size: $font-L-20;
          margin: 0 0 10px 0;
        }

        .contentText2 {
          font-size: $fontbase-14;
          margin: 0;
        }
      }
    }
  }

  // --------------假訊息的樣態-----------------
  .sevenBlock {
    height: 440px;
    background-color: #FEFCF0;
    display: flex;
    justify-content: center;
    margin: 0 0 260px 0;

    p {
      margin: auto 0;
      font-size: $title-24;
    }
  }

  // --------------假訊息的特徵-----------------
  .newsCardBlock {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    z-index: 1;

    p {
      font-size: 24px;
    }



    .newsCardBlock_inner {
      width: 500px;
      height: 100%;
      // height: 750px;
      border: 4px solid $primary-y;
      border-radius: 32px;
      background-color: #FEFCF0;

      @media (max-width:768px) {
        width: 100%;

      }


      .newsCardA {
        .imgBlock {
          height: 420px;
          // border: 1px solid blue;
          border-radius: 28px 28px 0 0;
          background-image: url(/images/fakenews_img01.jpg);
          background-size: cover;
          background-repeat: no-repeat;

        }



        .textBlock {
          margin: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          @media (max-width:768px) {
            gap: 0px;
          }

          .textBlockA {
            border: 3px solid #B04B32;
            border-radius: 16px;

            font-size: 18px;
            font-weight: bold;
            padding: 10px;



          }

          .textBlockB {
            border: 3px solid #B04B32;
            border-radius: 16px;
            font-size: 14px;
            line-height: 1.5;
            padding: 10px;

          }

          .textBlockC {

            text-align: end;

            .textBlockC_inner {
              display: inline-flex;
              border: 3px solid #B04B32;
              border-radius: 16px;
              font-size: 14px;
              padding: 10px;
            }
          }
        }
      }



    }


    // 提示區域

    .arrows {
      @mixin t() {
        display: none;
      }
    }

    .hint_block_L1 {
      position: relative;
      right: 368px;
      bottom: 240px;

    }


    @media (max-width:1040px) {
      .hint_block_L1 {
        right: 298px;
        bottom: 255px;
      }
    }

    .hint_block_L2 {
      position: relative;
      right: 368px;
      bottom: 160px;
    }

    @media (max-width:1040px) {
      .hint_block_L2 {
        right: 298px;
        bottom: 190px;
      }
    }

    .hint_block_R1 {
      position: relative;
      left: 370px;
      bottom: 400px;
    }

    @media (max-width:1040px) {
      .hint_block_R1 {

        left: 300px;
        bottom: 430px;
      }
    }

    .hint_block_R2 {
      position: relative;
      left: 370px;
      bottom: 135px;
    }

    @media (max-width:1040px) {
      .hint_block_R2 {
        left: 300px;
        bottom: 178px;
      }

    }


    .hint_block {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      gap: 0px;
      height: auto;
      width: auto;


      .left_p {
        font-size: 16px;
        color: #B04B32;
        display: flex;
        // border: 1px solid blue;
        height: 26px;
        width: 130px;
        margin: auto 10px auto 0;

      }

      @media (max-width:1040px) {
        .left_p {
          width: 70px;
          height: 100%;
          line-height: 1.2;
        }
      }


      .right_p {
        font-size: 16px;
        color: #B04B32;
        display: flex;
        // border: 1px solid blue;
        height: 26px;
        width: 130px;
        margin: auto 0px auto 10px;

      }

      @media (max-width:1040px) {
        .right_p {
          width: 70px;
          height: 100%;
          line-height: 1.2;
        }
      }

      .circle {
        width: 10px;
        min-width: 10px;
        height: 10px;
        background-color: #B04B32;
        border-radius: 50%;
        margin: auto 0;

        // margin-right: 10px;
      }

      .line {
        width: 120px;
        height: 4px;
        background-color: #B04B32;
        // margin-left: 10px;
        margin: auto 0;

      }

      @media (max-width:1040px) {
        .line {
          width: 40px;
          height: 4px;
          background-color: #B04B32;
          // margin-left: 10px;
          margin: auto 0;

        }
      }
    }

  }

  // 左右提示到平板的時候消失
  @media (max-width: 768px) {

    .hint_block_L1,
    .hint_block_L2,
    .hint_block_R1,
    .hint_block_R2 {
      display: none;
    }
  }

  // 提示區域平版rwd
  // 標題跟內文
  .hint_block_L1_rwd {
    display: none;


    @media (max-width:768px) {

      display: flex;
      // flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      // border: 1px solid red;
      gap: 0px;
      height: auto;
      width: auto;
      margin: 0px 0 0 20px;

      .hint_block_rwd {
        display: inline-flex;
        flex-direction: row;

        // 圖片
        .hint_block_inner_rwd_img {
          margin: auto 0 0px 0;
        }
      }

      .p_rwd {
        font-size: 16px;
        color: #B04B32;
        display: flex;
        // border: 1px solid blue;
        height: 52px;
        width: 130px;
        margin: auto 0px auto 10px;
        align-items: center;

      }

      .circle_rwd {
        width: 10px;
        min-width: 10px;
        height: 10px;
        background-color: #B04B32;
        border-radius: 50%;
        margin: 0 auto;
      }

      .line_rwd {
        width: 4px;
        height: 20px;
        background-color: #B04B32;
        margin: 0 auto;

      }
    }
  }

  // 來源
  .hint_block_L1_rwd_source {
    display: none;


    @media (max-width:768px) {

      display: flex;
      // flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      // border: 1px solid red;
      gap: 0px;
      height: auto;
      width: auto;
      margin: 0px 20px 0 0px;

      .hint_block_rwd {
        display: inline-flex;
        flex-direction: row;
      }

      .p_rwd {
        font-size: 16px;
        color: #B04B32;
        display: flex;
        // border: 1px solid blue;
        height: 52px;
        width: 130px;
        margin: auto 10px auto 0px;
        align-items: center;

      }

      .circle_rwd {
        width: 10px;
        min-width: 10px;
        height: 10px;
        background-color: #B04B32;
        border-radius: 50%;
        margin: 0 auto;
      }

      .line_rwd {
        width: 4px;
        height: 20px;
        background-color: #B04B32;
        margin: 0 auto;

      }
    }
  }


}





// --------------閱聽人該怎麼做-----------------
.yellow_block_outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin: 200px 0 0px 0;
  border: 1px solid blue;


  .yellow_block {
    border: 4px solid $primary-y;
    border-radius: 32px;
    background-color: #FEFCF0;
    width: 816px;

    // margin: 0 200px;

    .yellow_block_inner {
      margin: 80px 80px;

      .h1 {
        font-size: 32px;
        margin: 0;
      }

      ul {
        border: 1px solid red;
        margin: 0;
        padding: 0;



        li {
          list-style-type: none;
          border: 1px solid green;
          font-size: 20px;
          margin: 10px 0 0px 0;
          padding: 0;
        }
      }
    }
  }

  #Blacky_block {
    border: 1px solid violet;
    display: flex;
    margin: -80px 0px 0 0;
    width: 50%;

    img {
      width: 100%;
    }
  }
}