@import "../base/color";
@import "../base/font";

.backheader {
  background-color: #F5DE75;
  height: 80px;
  position: relative;
  min-width: 1200px;


  .right {
    position: absolute;
    top: 40%;
    right: 34px;

    a {
      color: $black;
      padding: 20px;
    }

    a.signout {
      margin-left: 12px;
    }
  }

  .left {
    position: absolute;
    top: 40%;
    left: 34px;

    a {
      color: $black;
    }
  }

}