@import "../base/color";
@import "../base/font";

// ===刪除彈窗===
.modalWarning {

  display: flex;
  justify-content: center;


  ul {
    margin-top: 20px;
    padding: 0;
    background-color: $secondary-y2;


    li {
      list-style-type: none;
      text-align: center;
      margin: 30px;

      .button {
        display: flex;

        .btn {
          @extend .btn;
          align-items: center;
          justify-content: center;
          width: 160px;
          height: 44px;
          margin: 20px 50px;
          color: $white;

          &:hover {
            color: $black;
          }
        }
      }

    }
  }

}